*.iml
*.jar
*jar
.idea
.lein-deps-sum
.lein-plugins
.lein-repl-history
.nrepl-port
.repl
/classes/
/lib/
/node_modules
/out/
/resources/public/js/compiled/**
/target/
/test-results
TESTS-Chrome*.xml
classes
figwheel_server.log
package-lock.json
pom.xml
